<!--Main Navigation-->
<header>

    <!-- Sidebar -->
    <div class="sidebar-fixed position-fixed">

        <a class="logo-wrapper waves-effect">
            <img src="../../../assets/img/logo.png" class="img-fluid" alt="">
        </a>

        <div class="list-group list-group-flush">

            <a routerLink="/" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
                <i class="fa fa-plus"></i>  Upload New File
            </a>

        </div>

    </div>
    <!-- Sidebar -->

    <!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">
    
        <!-- Collapsible content -->
        <links>  
           
    <div class="row">
        <div class="col-md-10">
             <!-- Search form -->
             <form class="form-inline waves-light" mdbWavesEffect>
                    <div class="md-form mt-0">
                        <input class="form-control mr-sm-2" type="text" placeholder="Search">
                    </div>
            </form>
        </div>
        <div class="col-md-2">
            
        </div>
    </div>
   
        </links>
        <!-- Collapsible content -->
    
    </mdb-navbar>
    <!--/.Navbar-->

</header>
<!--Main Navigation-->